<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include a Bootstrap CSS file from BootstrapCDN  and insert into head-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Index.html</title>
</head>
<body>
    <h1>Hey from Template</h1>
    <p>it's ya gurl, Zzzzz</p>
    <form>
        <fieldset>
            <label>Label</label>
            <input type="text area" placeholder="don't" />
        </fieldset>
    </form>
</body>
</html>